body {
	background-color: #F7F7F7;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	margin: 0;
	padding: 0;
}

header {
	font-size: 1rem;
	position: fixed;
	background-color: #F7F7F7;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 0.3em solid black;
	display: flex;
	flex-direction: row;
	align-items: flex-start;;
	z-index: 10;
}

header .right, header .left {
	padding: 0.6rem 0;
}

header .right {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 1.3rem;
}

header .above {
	display: flex;
	flex-direction: row;
}

header .below {
	flex-direction: row;
}

#category-picker {
	display: none;
	margin-top: 0.6rem;
}

#header-logo {
	font-family: 'Permanent Marker', cursive;
	text-shadow: 0.07em 0.07em #FEBF50;
	font-size: 1.35rem;
	text-decoration: none;
	color: black;
	margin: 0 2em;
	padding-top: 0.4rem;
}

#header-input {
	flex-grow: 1;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

header .header-button {
	margin-left: 1.3rem;
	font-family: monospace;
}

#many-inputs {
	flex-grow: 1;
}

footer {
	color: gray;
	padding: 0.4em 0 0.4em 2em;
	border-top: 0.1em solid gray;
	font-size: 0.8rem;
}

ul {
	list-style: none;
	padding-left: 2rem;
}

#main {
	margin-top: 5rem;
}

.top {
	width: 88%;
	margin: 1rem 0 3rem 1em;
	border: 0;
}

.top ul {
 border-left: 0.1rem dashed silver;
}

.top li {
	text-shadow: 0.055em 0.055em #FEBF50;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.15rem;
	padding-top: 0.3rem;
}

 .category li {
	text-shadow: none;
	font-size: 1.1rem;
}

 .subcategory li {
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	font-size: 0.85rem;
	font-weight: bold;
}

.idea li {
	font-weight: normal;
}

.comment li {
	font-size: 0.75rem;
}

 .edit, .delete {
	font-size: 0.65rem;
	color: gray;
	padding-left: 0.5rem;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	font-weight: normal;
}

label {
	cursor: pointer;
}

input[type="checkbox"] {
	display: none;
}

.top li > .maximize {
	display: none;
}

.top li > input:checked ~ .maximize {
	display: inline;
}

.top li > input:checked ~ :not(.maximize) {
	display: none;
}

.top li > input:checked ~ .content {
	color: gray;
	font-style: italic;
	display: inline;
	font-family: monospace;
	font-weight: bold;
	text-shadow: 0.05rem 0.05rem #FED48A;
	font-size: 0.85em;
}

.top .category li > input:checked ~ .content {
	text-shadow: none;
}

.top .idea li > input:checked ~ .content {
	font-weight: normal;
}

.minimize, .maximize {
	font-family: monospace;
	margin-left: -0.41rem;
	font-size: 0.5rem;
	text-shadow: none;
	display: inline;
	font-weight: normal;
}

.content {
	position: relative;
	display: inline;
}

.insertAbove, .insertUnder, .insertBelow {
	height: 0.45rem;
	width: 15em;
	font-family: monospace;
	font-size: 0.4rem;
	cursor: pointer;
	left: -1.3rem;
	display: block;
	opacity: 0;
}

.insertAbove:hover, .insertUnder:hover, .insertBelow:hover {
	opacity: 1;
}

.insertAbove {
	z-index: 1;
	padding-left: 1.3rem;
}

.insertBelow {
	z-index: 2;
	padding-left: 1.3rem;
}

.insertUnder {
	z-index: 3;
}

.top > li > .content > .insertAbove {
	bottom: 1.57rem;
}

.category > li > .content > .insertAbove {
	bottom: 1.49rem;
}

.subcategory > li > .content > .insertAbove, .idea > li > .content > .insertAbove {
	bottom: 1.01rem;
}
.comment > li > .content > .insertAbove {
	bottom: 0.88rem;
}

.insertUnder {
	left: 2rem;
}
